.todo {
	font-weight: bold;
	color: hotpink;
	display: none;
}

.hidden {
	display: none;
}

html {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	background-color: #4d4d4d;
	color: #3d3d3d;
}

body {
	margin: 0 auto 0;
	padding: 5px 0;
	max-width: 1000px;
	background-color: #fff;
}

a {
    color: #4487d5;
    text-decoration: none;
}

p {
	line-height: 1.5;
}

tbody {
	vertical-align: top;
}

h1, h2, h3, h4, h5 {
	margin: 0;
	font-size: inherit;
}

h1 {
	text-align: center;
	font-size: 30px;
	margin-bottom: 20px;
	line-height: 1;
}

section {
	margin: 20px 20px;
}

.intro {
	overflow: auto;
}

.intro__profile {
	text-align: center;
	margin-bottom: 20px;
}

.intro__profile img {
	width: 70%;
	border-radius: 5px;
}

.intro__contact h3 {
	font-size: 20px;
	margin-top: 30px;
}

.intro__contact td:first-child {
	font-weight: bold;
	padding-right: 10px;
}

.experience__header {
	margin: 15px 0;
	overflow: auto;
	text-transform: uppercase;
	border-width: 0 0 1px;
	border-color: hsl(0, 0%, 85%);
	border-style: solid;
}

.experience__header h2 {
	float: left;
	font-size: 24px;
	line-height: 46px;
}

.experience__header .work-img {
	float: right;
	height: 100%;
	width: 40%;
	max-width: 300px;
}

.experience__header .work-img div {
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
	height: 46px;
	width: 100%;
}

.experience__header .rg-logo {
	background-image: url('rg-logo.png');
}

.experience__header .cth-logo {
	background-image: url('cth-logo.png');
}

.experience__subheader{
	overflow: hidden;
	line-height: 1em;
	font-size: 18px;
	padding: 5px 0;
	border-bottom: 1px solid hsl(0, 0%, 85%);
	margin-bottom: 20px;
}

.experience__subheader h3 {
	float: left;
	font-weight: auto;
}

.experience__subheader span {
	float: right;
}

.experience__details {
	width: 100%;
}

.experience__details td {
	padding-bottom: 15px;
}

.experience__period {
	width: 15%;	
}

.experience__description {
	overflow: normal;
}

.experience__description-context {
	color: #888;
	display: block;
	float: none;
	font-style: italic;
	font-weight: normal;
	margin-top: 10px;
}


@media (min-width: 550px) {
	body {
		margin-top: 30px;
		margin-bottom: 30px;
		box-shadow: 0 0 10px 2px rgba(0,0,0,0.4);
		border-radius: 5px;
	}

	h1 {
		text-align: inherit;
		font-size: 40px;
	}
	
	.intro {
		padding: 0 40px;
	}

	.intro__profile {
		float: right;
		margin-bottom: 0;
		text-align: right;
		width: 30%;
	}
	
	.intro__profile img {
		margin: 0;
		width: 90%;
	}
	
	section {
		margin: 30px 0px;
	}

	.experience > * {
		padding-left: 40px;
		padding-right: 40px;
	}

	.experience__subheader {
		font-size: 20px;
		padding-left: 0;
		padding-right: 0;
		margin-left: 40px;
		margin-right: 40px;
	}

	.experience__header {
		border-top-width: 1px;
		box-shadow: 0 0 14px 0px rgba(0,0,0,0.2);
	}

	.experience__header h2 {
		font-size: 30px;
	}

	.experience__header .work-img div {
		background-size: cover;
	}

	.experience__description-context {
		float: right;
		margin: 0;
	}

}

@media print {
	.work-img {
		display: none;
	}

	.experience > * {
		padding-left: 0;
		padding-right: 0;
		margin-left: 40px;
		margin-right: 40px;
	}

	.experience__header {
		border-top-width: 0;
	}
	
	.experience__header,
	.experience__subheader {
			page-break-after: avoid;
	}

	.experience__header,
	.experience__subheader,
	.experience__details tr {
		page-break-inside: avoid;
	}
}
