.todo {
	font-weight: bold;
	color: hotpink;
	display: none;
}

.hidden {
	display: none;
}

html {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

body {
	margin: 0 auto;
	max-width: 1000px;
}

p {
	line-height: 1.2;
}

tbody {
	vertical-align: top;
}

h1, h2, h3, h4, h5 {
	margin: 0;
	font-size: inherit;
}

h1 {
	text-align: center;
	font-size: 20px;
	margin: 30px 0 20px;
}

section {
	margin: 20px 20px;
}

.intro {
	overflow: auto;
}

.intro__profile {
	text-align: center;
	margin-bottom: 20px;
}

.intro__profile img {
	width: 70%;
}

.intro__contact td:first-child {
	font-weight: bold;
	padding-right: 10px;
}

.experience {
}

.experience__header {
	font-size: 30px;
	margin: 15px 0;
	border-bottom: 2px solid #BBB;
	overflow: auto;
}

.experience__header h2 {
	float: left;
	font-size: 30px;
	padding: 6px 0;
}

.experience__header .work-img {
	float: right;
	height: 100%;
	width: 40%;
	max-width: 300px;
}

.experience__header .work-img div {
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
	height: 46px;
	width: 100%;
}

.experience__header .rg-logo {
	background-image: url('rg-logo.png');
}

.experience__header .cth-logo {
	background-image: url('cth-logo.png');
}

.experience__subheader{
	overflow: hidden;
	line-height: 1em;
	font-size: 18px;
	padding: 5px 0;
	border-bottom: 1px solid #BBB;
	margin-bottom: 20px; 
}

.experience__subheader h3 {
	float: left;
	font-weight: auto;
}

.experience__subheader span {
	float: right;
}

.experience__details {
	width: 100%;
}

.experience__details td {
	padding-bottom: 15px;
}

.experience__period {
	width: 15%;	
}

.experience__description {
	overflow: normal;
}

.experience__description-context {
	color: #888;
	display: block;
	float: none;
	font-style: italic;
	font-weight: normal;
	margin-top: 10px;
}


@media (min-width: 550px) {
	h1 {
		margin: 70px 0 40px;
	}

	.experience__subheader {
		font-size: 20px;
	}

	.intro__profile {
		float: right;
		margin-bottom: 0;
		text-align: right;
		width: 30%;
	}

	.intro__profile img {
		margin: 0;
		width: 90%;
	}

	section {
		margin: 30px 40px;
	}

	.experience__header .work-img div {
		background-size: cover;
	}

	.experience__description-context {
		float: right;
		margin: 0;
	}

}

@media print {
	.experience__header,
	.experience__subheader {
			page-break-after: avoid;
	}

	.experience__header,
	.experience__subheader,
	.experience__details tr {
		page-break-inside: avoid;
	}
}
