body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    background-color: gray;
    display: grid;
    grid-gap: 1px 1px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 35% 15%;
    grid-template-areas: 
        "current current"
        "remove_one remove_ten"
        "add_one add_ten";
    height: 100dvh;
    width: 100vw;
}

.container > * {
    background-color: rgb(20, 20, 20);
    color: white;
    place-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container > button {
    border: none;
    font-weight: bold;
}

.container > button:active {
    background-color: white;
    /* animation: fadeOut 10ms forwards; */
}

.current {
    grid-area: current;
    font: 120px Verdana, sans-serif;
    font-weight: bold;
    position: relative;
}
.current .change {
    font-size: 40px;
    position: absolute;
    bottom: 50px;
}

.current .change.hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.remove_one {
    grid-area: remove_one;
}
.remove_ten {
    grid-area: remove_ten;
}
.add_one {
    grid-area: add_one;
}
.add_ten {
    grid-area: add_ten;
}

.remove_one, .remove_ten {
    font: 60px Verdana, sans-serif;
}
.add_one, .add_ten {
    font: 40px Verdana, sans-serif;
}

